/* .navbar-nav .nav-item :link {
  color: rgb(255, 255, 255);
}

.navbar-nav .nav-item div :link {
  color: rgb(255, 255, 255) !important;
}

.navbar-nav .nav-item div :link:hover {
  color: rgb(206, 206, 206) !important;
}

.navbar-nav .nav-item .nav-link.active {
  color: rgb(210,239,51);
}

.navbar-nav .nav-item :link:hover {
  color: rgb(206, 206, 206);
} */

